@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300)

// Golden ratio bitches!
$vs: 40px
$hs: $vs / 1.681
$color: #0bf

body
  color: #444
  font-family: "Oxygen"
  font-size: 100%
  font-weight: 400

// Resets from Skeleton
h1, h2, h3, h4, h5, h6, p, ul, li, section
  font-family: inherit
  line-height: $vs
  margin: $vs 0 0 0

li+li
  margin-top: 0px

a, a:visited
  color: $color

// Make buttons more interesting
.button, .button:visited
  margin: 0
  background: $color
  color: #fff
  text-shadow: none
  border: 0px
  font-size: inherit
  &:hover, &:active
    background: lighten($color, 10%)
    color: #fff
    border: 0px

.splash
  color: #fff
  padding: $vs * 4
  h1, h2
    text-align: center
    font-weight: 700
    color: #fff
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3)
  h1
    font-size: 4em
    line-height: $vs * 2
  h2
    color: rgba(255, 255, 255, 0.7)
    span
      color: rgba(255, 255, 255, 1)
  background: url('../img/splash_1.jpg') no-repeat top center
  background-size: cover
  height: 100%

#inputs-row
  font-size: 1.2em
  margin-top: $vs * 2
  background: rgba(255, 255, 255, 0.7)
  line-height: $vs
  font-family: inherit
  color: #444
  form
    margin: 0
    padding: 0

  input, label, select
    font-size: inherit
    font-family: inherit
    font-weight: bold
    margin: 0
    padding: 0
    padding: 0
  .btn
    margin-top: $vs / 2
    text-align: right


#search-terms-row
  input
    display: inline

table#search-result-table
  width: 100%
  font-size: 1.2em
  border-collapse: collapse
  th, td
    padding: 5px
    line-height: $vs
    text-align: left
    margin: 0
  th
    font-weight: 700
  td
    border-top: 2px solid #eee
    vertical-align: middle
  .pic
    width: $vs
    height: $vs
    margin-right: $hs
    float: left
  .controls
    text-align: right

#profile
  .pic
    width: 150px
    height: 150px


.footer
  margin-top: $vs * 2
  background: #444
  border-top: 2px solid #222
  color: #fff
  padding: $vs * 2 0
  a
    color: $color
  .copyright
    text-align: right
