// Golden ratio bitches!
$vs: 30px
$hs: $vs / 1.681
$color: #0bf
$error-color: #e40

body
  color: #444
  font-family: "Oxygen"
  font-size: 100%
  font-weight: 400

// Resets from Skeleton
h1, h2, h3, h4, h5, h6, p, ul, li, section
  font-family: inherit
  line-height: $vs
  margin: $vs 0 0 0

h1, h2, h3, h4, h5, h6
  font-weight: 700

h1
  font-size: 2.4em

li+li
  margin-top: 0px

a, a:visited
  color: $color
  text-decoration: none
  &:hover
    color: darken($color, 20%)

input[type="text"], input[type="email"], input[type="dates"], textarea, label
  line-height: $vs
  font-size: inherit
  padding: 0
  margin: 0

label
  margin-top: $vs

label:first-child
  margin-top: 0

.helptext
  margin-top: 0
  color: #999
  font-size: 0.8em

// Make buttons more interesting
.button, .button:visited
  margin: 0
  background: $color
  color: #fff
  text-shadow: none
  border: 0px
  font-size: inherit
  &:hover, &:active
    background: lighten($color, 10%)
    color: #fff
    border: 0px

header.top-bar
  line-height: $vs * 2
  height: $vs * 2
  background-color: $color
  color: #fff
  padding: 0 $hs
  border-bottom: 2px solid darken($color, 5%)
  a
    color: #fff
    text-decoration: none
    &:hover
      color: lighten($color, 40%)
  h1
    float: left
    font-size: 1.6em
    font-weight: bold
    line-height: inherit
    margin: 0
  form
    float: left
    input
      border: 0px
      border-radius: 2px
      line-height: $vs
      font-size: inherit
      margin-left: $hs
  nav
    float: right
    text-align: right

.splash
  color: #fff
  padding: ($vs * 4) 0 ($vs * 6) 0
  h1, h2
    text-align: center
    font-weight: 700
    color: #fff
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1)
  h1
    font-size: 4em
    line-height: $vs * 2
  h2
    color: rgba(255, 255, 255, 0.9)
    span
      color: rgba(255, 255, 255, 1)

  background: url('../img/splash_1.jpg') no-repeat top center
  background-size: cover
  &.splash1
    background-image: url('../img/splash_1.jpg')
  &.splash2
    background-image: url('../img/splash_2.jpg')
  &.splash3
    background-image: url('../img/splash_3.jpg')
  height: 100%

#inputs-row
  font-size: 1.2em
  margin-top: $vs * 2
  background: rgba(255, 255, 255, 0.8)
  line-height: $vs
  font-family: inherit
  color: #444
  form
    margin: 0
    padding: 0

  .p
    margin: 0
    line-height: $vs * 2
  input, label, select
    display: inline
    font-size: inherit
    font-family: inherit
    font-weight: bold
    margin: 0
    padding: 0
    padding: 0
  .btn
    line-height: $vs * 2
    text-align: right

.popular-destinations
  text-align: center
  text-shadow: 0px 1px 1px #000
  font-size: 1.2em
  margin-top: $vs
  h2
    color: #fff
  a
    font-weight: bold
    text-shadow: 0px 1px 5px #000
    color: lighten($color, 20%)


#search-terms-row
  margin: 0
  form, input
    display: inline
    margin: 0

table#search-result-table
  width: 100%
  margin-top: $vs
  font-size: 1.2em
  border-collapse: collapse
  th, td
    padding: 5px
    line-height: $vs
    text-align: left
    margin: 0
  th
    font-weight: 700
  td
    border-top: 2px solid #eee
    vertical-align: middle
  .pic
    width: $vs
    height: $vs
    margin-right: $hs
    float: left
  .controls
    text-align: right
    form
      display: inline
      margin: 0
      padding: 0

    button.delete
      background: transparent
      border: none
      font-size: inherit
      font-weight: 400
      color: $error-color
      padding: 0 $hs
      margin: 0
      &:hover
        color: darken($error-color, 10%)

.trip-submit
  margin-top: $vs * 2

  form, input, button
    display: inline
    margin: 0

#profile
  .pic
    width: 150px
    height: 150px

textarea
  width: 100%
  height: $vs * 5

h1 a.edit
  font-size: 0.5em
  text-decoration: none


.footer
  background: #444
  border-top: 2px solid #222
  color: #fff
  padding: $vs * 2 0
  margin-top: $vs * 2
  a
    color: $color
  .copyright
    text-align: right

.splash+.footer
  // Get right up in there.
  margin-top: 0

// Typeahead

.twitter-typeahead
  display: inline
  line-height: 30px

.tt-hint, .tt-input
  margin-top: 15px

.tt-dropdown-menu
  background: rgba(255, 255, 255, 0.8)
  line-height: 30px
  padding: 0 15px
  margin: 0px

.tt-suggestion p
  margin: 0
  padding: 0

.tt-suggestion.tt-cursor
  color: #fb0
  cursor: pointer
