---
title: "Booker: Find a friend while travelling"
description: ""
---

.container
  %h1 My Profile

  %section#profile
    %form(action="profile.html")
      .row
        .four.columns
          %img.pic(src="/img/pic.jpg")

        .twelve.columns

          %label My Name
          %input.name(type="text")

          %label Email Address
          %input.email(type="email")
          %p.helptext We need this so you can be contacted by people who want to meet you

          %label About Me
          %textarea.about(placeholder="I like ponies")

          %section
            %button.button(type="submit") Save

