---
title: "Subbub: Your subscription storefront in minutes"
description: ""
---


.splash
  .container
    .welcome.row
      %h1 Booker
      %h2
        Find a friend in
        %span.city_name Rotating City Name

    .row.inputs
      .six.columns
        %label I'm going to
        %input.destination(type="text" name="destination")
      .six.columns
        %label on
        %input.date(type="date" name="date")
      .four.columns.btn
        %a.button.submit(href="#") Meet Someone New
