---
title: "Search Results | Booker"
description: ""
layout: home
---


.splash.splash1
  .container
    .welcome.row
      %h1 Booker
      %h2
        Find a friend in
        %span#city-name Rotating City Name

    .row#inputs-row
      #inputs
        %form(action="/search/")
          .twelve.columns
            .p
              I'm going to
              %input.destination(type="text" name="destination")
              on
              %input.date(type="date" name="date")
          .four.columns.btn
            %button.button.submit(href="#") Meet Someone New

    %section.popular-destinations

      %h2 Popular Destinations

      %ul.popular-destinations
        %li.popular-destination
          %span.num-visitors 10
          people are going to
          %a.dest-link Istanbul
        %li.popular-destination
          %span.num-visitors 5
          people are going to
          %a.dest-link Kuala Lumpur
