---
title: "Search Results | Booker"
description: ""
layout: home
---


.splash
  .container
    .welcome.row
      %h1 Booker
      %h2
        Find a friend in
        %span#city-name Rotating City Name

    .row#inputs-row
      #inputs
        %form(action="/search/")
          .twelve.columns
            .p
              I'm going to
              %input.destination(type="text" name="destination")
              on
              %input.date(type="date" name="date")
          .four.columns.btn
            %button.button.submit(href="#") Meet Someone New
