---
title: "Booker: Find a friend while travelling"
description: ""
---


.splash
  .container
    .welcome.row
      %h1 Booker
      %h2
        Find a friend in
        %span#city-name Rotating City Name

    .row#inputs-row
      #inputs
        %form
          .six.columns
            %label I'm going to
            %select.destination(name="destination")
          .six.columns
            %label on
            %input.date(type="date" name="date")
          .four.columns.btn
            %button.button.submit(href="#") Meet Someone New
