---
title: "Booker: Find a friend while travelling"
description: ""
---

.container
  #authenticated
    %h1
      My Profile
      %a.edit(href="/edit-profile") Edit
  #unauthenticated
    %h1
      Profile:
      %span.name Adam Bard

  .flash-messages &nbsp;

  #profile
    .row
      .four.columns
        %p
          %img.pic(src="/img/pic.jpg")

      .twelve.columns

        %p.about I like ponies.

        %h2
          Send
          %span.name Adam
          a message

        %form#send-message-form
          %section
            %textarea(placeholder="Probably mention a bit about you, when you're in which city, and so on")

          %section
            %button.button Send
