---
title: "Booker: Find a friend while travelling"
description: ""
---

.container
  %h1
    Search

  .row#search-terms-row
    %form#search-terms.sixteen.columns
      %p
        People in
        %input.destination(type="text" value="Istanbul")
        around
        %input.date(type="date")
        %button.button Update

  %table#search-result-table
    %thead
      %tr
        %th Name
        %th Place
        %th Date

    %tbody
      %tr.search-result-row
        %td.name
          %a.profile(href="profile.html")
            %img.pic(src="/img/pic.jpg")
          %a.profile(href="profile.html")
            %span.name Adam Bard
        %td.destination
          Istanbul
        %td.date
          September 26, 2014
        %td.controls
          %a.button.profile(href="profile.html")
            Contact
          %form.delete
            %button.delete Delete
      %tr.search-result-row
        %td.name
          %a(href="profile.html")
            %img.pic(src="/img/pic.jpg")
          %a(href="profile.html")
            %span.name Adam Bard
        %td.destination
          Istanbul
        %td.date
          September 26, 2014
        %td.controls
          %a.button(href="profile.html")
            Contact
      %tr.search-result-row
        %td.name
          %a(href="profile.html")
            %img.pic(src="/img/pic.jpg")
          %a(href="profile.html")
            %span.name Adam Bard
        %td.destination
          Istanbul
        %td.date
          September 26, 2014
        %td.controls
          %a.button
            Contact

  %h2 Want to meet people?

  #authenticated
    %form#add-trip
      I'm going to
      %input.destination(type="text")
      around
      %input.date(type="date")
      %button.button(type="submit") Add Me To The List

  #unauthenticated
    %p
      %a.button Authenticate with Facebook
      to set up your profile.
