---
title: "Booker: Find a friend while travelling"
description: ""
---

.container
  %h1
    Search

  .flash-messages &nbsp;

  .row#search-terms-row
    %form#search-terms.sixteen.columns
      %p
        People in
        %input.destination(type="text" value="Istanbul")
        around
        %input.date(type="date")
        %button.button Update

  %p#no-results-found
    I guess nobody's around. Why not be the first?

  %table#search-result-table
    %thead
      %tr
        %th Name
        %th Place
        %th Date

    %tbody
      %tr.search-result-row
        %td.name
          %a.profile(href="/profile/")
            %img.pic(src="/img/pic.jpg")
          %a.profile(href="/profile/")
            %span.name Adam Bard
        %td.destination
          Istanbul
        %td.date
          September 26, 2014
        %td.controls
          %form.delete
            %button.delete Delete
          %a.button.profile(href="/profile/")
            Contact
      %tr.search-result-row
        %td.name
          %a(href="/profile/")
            %img.pic(src="/img/pic.jpg")
          %a(href="/profile/")
            %span.name Adam Bard
        %td.destination
          Istanbul
        %td.date
          September 26, 2014
        %td.controls
          %a.button(href="/profile/")
            Contact
      %tr.search-result-row
        %td.name
          %a(href="/profile/")
            %img.pic(src="/img/pic.jpg")
          %a(href="/profile/")
            %span.name Adam Bard
        %td.destination
          Istanbul
        %td.date
          September 26, 2014
        %td.controls
          %a.button
            Contact


  .trip-submit
    %h2 Want to meet people?

    %section
      #authenticated
        %form#add-trip
          I'm going to
          %input.destination(type="text")
          around
          %input.date(type="date")
          %button.button(type="submit") Add Me To The List

      #unauthenticated
        %p
          %a.button Authenticate with Facebook
          to set up your profile.
