---
title: "ASDFASDF"
---

.container
  %h1 About/FAQ

  %p
    This is Booker, my entry to the
    %a(href="http://clojurecup.com/") 2014 Clojure Cup
    competition.

  %h2 How does it work?

  %ol
    %li You enter a city and a date
    %li Magic
    %li It shows you some people who are going to that city around that date.

  %p
    If nobody is found, you can make a profile and post your own plans for the
    next searcher.

  %h2 Why do you need my facebook info?

  %p
    We need facebook because it's easier than implementing our own login
    stuff, and so we can yank your name and profile picture without you having to
    provide them.

  %h2 Why is it called "Booker"? That makes no sense.

  %p
    I was going to do something else and Clojure Cup won't let me change the
    name until after judging.
